@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

*
{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  

} 
.text-painter{
padding-top: 110px;
background-color: #5a6170;
text-align: center;


font-size: 2em;
color: white;


}
.container-painter {
  display: grid;
  grid-template-columns: 300px 300px 300px;
  grid-gap: 40px;
  justify-content: center;
  align-items: center;
  height: auto;
  background-color: #5a6170;
  font-family: 'Baloo Paaji 2', cursive;
  padding-bottom: 5px;
  
}

.card-painter {
  background-color: #fea72b;
  height: auto;
  border-radius: 20px;
  margin-top:10px;
  width: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.7);
  color: white;
}

.card__name {
  margin-top: 15px;
  font-size: 1.5em;
}

.round {
  height: 160px;
  width: 160px;
  border-radius: 100%;
  border: 5px solid #EC3520;
  margin-top: 30px;
}


.draw-border {
  box-shadow: inset 0 0 0 4px rgb(78, 73, 73);
  color: rgb(78, 73, 73);
  -webkit-transition: color 0.25s 0.0833333333s;
  transition: color 0.25s 0.0833333333s;
  position: relative;
}

.draw-border::before,
.draw-border::after {
  border: 0 solid transparent;
  box-sizing: border-box;
  content: '';
  pointer-events: none;
  position: absolute;
  width: 0rem;
  height: 0;
  bottom: 0;
  right: 0;
}

.draw-border::before {
  border-bottom-width: 4px;
  border-left-width: 4px;
}

.draw-border::after {
  border-top-width: 4px;
  border-right-width: 4px;
}

.draw-border:hover {
  color: #EC3520;
}

.draw-border:hover::before,
.draw-border:hover::after {
  border-color: #EC3520;
  -webkit-transition: border-color 0s, width 0.25s, height 0.25s;
  transition: border-color 0s, width 0.25s, height 0.25s;
  width: 100%;
  height: 100%;
}

.draw-border:hover::before {
  -webkit-transition-delay: 0s, 0s, 0.25s;
  transition-delay: 0s, 0s, 0.25s;
}

.draw-border:hover::after {
  -webkit-transition-delay: 0s, 0.25s, 0s;
  transition-delay: 0s, 0.25s, 0s;
}


.btn {
  background: none;
  border: none;
  cursor: pointer;
  line-height: 1.5;
  font: 700 1.2rem 'Roboto Slab', sans-serif;
  padding: 0.75em 2em;
  letter-spacing: 0.05rem;
  margin: 0.6em;
  width: 13rem;
}

.btn:focus {
  outline: 2px dotted #55d7dc;
}




.grid-container {
  display: grid;
  grid-gap: 20px;
  font-size: 1.2em;
}
