body{
    margin: 0;
    padding: 0;
    background-color:rebeccapurple ;
    font-family: sans-serif;
}
.team-container{
    width: 100%;
    height: auto;
    padding-top:40px ;
    padding-bottom: 40px;

}
.text{
    color: white;
    font-size: 25px;
     font-weight: 550;
     text-transform: uppercase;
     text-align: center;
}